.App {
  text-align: center;
  min-height: 100vh;
  background-color: azure;
}
input{
  padding: 15px;

}
button{
  padding: 15px;
  width: 50px;
  background-color: cornflowerblue;
  color: white;
}
.card{
  background-color: white;
  width: 60%;
  margin: 0 auto;
}